page{
	width: 750rpx;
	height: 100vh;
	background: linear-gradient(180deg, #FD4449 0%, #EE2E43 100%);
}
.zhaomu{
	width: 476rpx;
	height: 90rpx;
	background: rgba(248,61,71,1);
	box-shadow: 0rpx 10rpx 21rpx rgba(249,63,71,0.42);
	border-radius: 50rpx;
	text-align: center;
	line-height: 90rpx;
	color: white;
}
.jieshu{
	height: 33rpx;
	font-family: PingFang SC;
	font-weight: 400;
	font-size: 24rpx;
	color: #FFFFFF;
	line-height: 100rpx;
}