.topvciew{
	background-image: url(/static/tx_bg@2x.png);
	width: 670rpx;
	height: 320rpx;
	background-size: 100% 100%;
	padding-left: 41rpx;
	color: white;
}
.yudd{
	width:10rpx;
	height: 10rpx;
	border-radius: 50%;
	background-color: #F83D47;
}
.yuemx{
	font-family: PingFang SC;
	font-weight: bold;
	font-size: 36rpx;
	color: #1A1A1A;
	line-height: 40rpx;
}
.jiluitem{
	width: 670rpx;
	background: rgba(255,255,255,0.39);
	box-shadow: 0rpx 0rpx 28rpx rgba(48,48,48,0.1);
	border-radius: 10rpx;
}
.tixian{
	width: 154rpx;
	height: 60rpx;
	background: rgba(255,255,255,1);
	border-radius: 40rpx;
	text-align: center;
	line-height: 60rpx;
	
	font-weight: 400;
	font-size: 32rpx;
	color: #F83D47;
	line-height: 60rpx;
}
.monruvv{
	font-weight: bold;
	font-size: 60rpx;
}