.topview{
	height: 70rpx;
	background-color: white;
	width: 750rpx;
	position: fixed;
	top: 80rpx;
}
.linewidt{
	width: 120rpx;
	height: 7rpx;
	background-color: #FD4449;
}
page{
	background-color: #F5F5F5;
}
.menutxtView{
	line-height: 63rpx;
	text-align: center;
	font-size: 27rpx;
	color: #FD4449;
}
.menutxtView1{
	line-height: 63rpx;
	text-align: center;
	font-size: 27rpx;
	color: #000000;
}

.couview{
	width: 700rpx;
	height: 170rpx;
	background: #FFFFFF;
	box-shadow: 0rpx 0rpx 9rpx 1rpx rgba(153,153,153,0.2);
	border-radius: 10rpx;
	margin:25rpx 25rpx 0rpx 25rpx;
}
.leftvuew{
	width: 190rpx;
	height: 170rpx;
	color: white;
	background: linear-gradient(90deg, #FF5044 0%, #E60121 100%);
	border-radius: 10rpx 0rpx 0rpx 10rpx;
	margin-right: 20rpx;
}
.leftvuewhui{
	width: 190rpx;
	height: 170rpx;
	color: white;
	background: linear-gradient(90deg, #D6D6D6 0%,#D6D6D6 100%);
	border-radius: 10rpx 0rpx 0rpx 10rpx;
	margin-right: 20rpx;
}


.righttext{
	height: 42rpx;
	font-family: PingFang SC;
	font-weight: 500;
	font-size: 27rpx;
	color: #333333;
	line-height: 42rpx;
}
.rightline{
	width: 470rpx;
	height: 3rpx;
	background: #EEEEEE;
}
.rightbottom{
	height: 23rpx;
	font-family: PingFang SC;
	font-weight: 500;
	font-size: 24rpx;
	color: #999999;
}